.wrapper-product-verification-main{
    .head-ver {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 39px;
        flex-wrap: wrap;
        gap: 20px;
        h2{
            font-size: 20px;
            font-weight: 500;
        }
        .search-wrapper{
            background-color: rgb(255, 255, 255);
            width: 250px;
        }
    }
    .resend-ver-btn{
        background-color: #27ae60;
    padding: 0px 13px;
    border-radius: 22px;
    height: 28px;
    font-size: 12px;
    color: #fff;
    border: none;
    }
    .ver-action-buttons{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        padding: 0;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
transition: 0.3s;
        &:hover{
            background-color: #ededed;
        }
    }
}

