@import "./variables.scss";

.btn-primary,
.btn-cancel,
.btn-secondary {
  border: none;
  color: $white-color;
  padding: 0px 35px;
  line-height: $line-height-20;
  font-size: $fs-16;
  font-weight: $fw-600;
  // border-radius: $border-radius-2;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  cursor: pointer;
}

input {
  box-shadow: none !important;
}

.ant-btn {
  font-weight: 500 !important;
}

.btn-primary {
  background-color: $primary-color;
}

.btn-secondary {
  background-color: $secondary-color;
}

.secondary-color {
  color: $secondary-color;
}

.error-color {
  color: $error-color;
}

.bg-error-color {
  background-color: $error-color;
}

.approved-color {
  color: $approved-color;
}

.btn-cancel {
  background-color: $cancle-button-background;
  color: #515151;

}

.dark-brown-color {
  color: $cancle-button-background;
}

.title-color {
  color: $title-color;
}

.blue-color {
  color: $blue-color;
}

.label-color {
  color: $label-color;
}

.light-grey {
  color: $light-grey;
}

.snow-white-color {
  color: $snow-white-color;
}

.form-heading-color {
  color: $form-heading-color;
}

.bg-orange-color {
  background-color: $orange-color;
}

.orange-color {
  color: $orange-color;
}

.card-heading {
  color: $card-heading;
}

.card-heading {
  color: $card-heading;
}

.pink-color {
  color: $pink-color;
}

.card-text {
  color: $card-text-color;
}

.light-black-color {
  color: $light-black-color;
}

.black-color {
  color: $black-color;
}

.bg-inner-shadow {
  background-color: $tabs-inner-shadow;
}

.orange-color {
  color: $orange-color;
}

// border radius classes
.border-radius-2 {
  border-radius: $border-radius-2;
}

.border-radius-4 {
  border-radius: $border-radius-4;
}

.border-radius-6 {
  border-radius: $border-radius-6;
}

.border-radius-8 {
  border-radius: $border-radius-8;
}

.border-radius-10 {
  border-radius: $border-radius-10;
}

.border-radius-12 {
  border-radius: $border-radius-12;
}

.border-radius-14 {
  border-radius: $border-radius-14;
}

.cursor-pointer {
  cursor: pointer;
}

.border-none {
  border: none !important;
}

//color
.bg-white {
  background-color: $white-color;
}

.white-color {
  color: $white-color;
}

.light-grey-color {
  color: $gray-placeholder;
}

// font classes start here
.fs-10 {
  font-size: $fs-10;
}

.fs-12 {
  font-size: $fs-12;
}

.fs-14 {
  font-size: $fs-14;
}

.fs-15 {
  font-size: $fs-15;
}

.fs-16 {
  font-size: $fs-16;
}

.fs-18 {
  font-size: $fs-18;
}

.fs-20 {
  font-size: $fs-20;
}

.fs-22 {
  font-size: $fs-22;
}

.fs-24 {
  font-size: $fs-24;
}

.fs-26 {
  font-size: $fs-26;
}

.fs-28 {
  font-size: $fs-28;
}

.fs-30 {
  font-size: $fs-30;
}

.fs-32 {
  font-size: $fs-32;
}

.fs-40 {
  font-size: $fs-40;
}

// font weight classes
.fw-300 {
  font-weight: $fw-300;
}

.fw-400 {
  font-weight: $fw-400;
}

.fw-500 {
  font-weight: $fw-500;
}

.fw-600 {
  font-weight: $fw-600;
}

.fw-700 {
  font-weight: $fw-700;
}

// line height end here
.line-height-16 {
  line-height: $line-height-16;
}

.line-height-17 {
  line-height: $line-height-17;
}

.line-height-18 {
  line-height: $line-height-18;
}

.line-height-20 {
  line-height: $line-height-20;
}

.line-height-22 {
  line-height: $line-height-22;
}

.line-height-24 {
  line-height: $line-height-24;
}

.line-height-30 {
  line-height: $line-height-30;
}

.line-height-32 {
  line-height: $line-height-32;
}

.line-height-40 {
  line-height: $line-height-40;
}

// width and margin
.m-0 {
  margin: 0px;
}

.m-auto {
  margin: auto;
}

.p-0 {
  padding: 0px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.text-no-wrap {
  white-space: nowrap;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.text-end {
  text-align: end;
}

.d-block {
  display: block;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column-reverse {
  flex-direction: column-reverse;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-nowrap {
  white-space: nowrap !important;
}

.border-radius-50 {
  border-radius: 50%;
}

.card-box-shadow {
  box-shadow: $card-box-shadow;
}

.text-upercase {
  text-transform: uppercase;
}

.d-btn {
  border: none;
  outline: none;

  &:focus {
    color: #515151;
  }
}

.btn-yellow {
  background-color: #FAB529;
}

// ####### Common Border Class #######
.common-border {
  border: 1px solid #d9dbe9;
}

.common-border-bottom {
  border-bottom: 1px solid #d9dbe9;
}

.input-search-wrapper {
  .ant-input::placeholder {
    color: $label-color;
    font-size: 14px;
    font-weight: 400;
  }

  .ant-input-affix-wrapper {
    border: 1px solid #d9dbe9;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
    height: 40px;
    border-radius: 2px;
  }

  .icon {
    margin-left: 10px;
    margin-right: 6px;
  }
}

.position-relative {
  position: relative;
}


.ant-table-wrapper {
  clear: both;
  max-width: 100%;
  border: 1px solid #e7e7e9;
  border-radius: 10px;
}

:where(.css-dev-only-do-not-override-1aocciv).ant-table-wrapper .ant-table-thead>tr>th,
:where(.css-dev-only-do-not-override-1aocciv).ant-table-wrapper .ant-table-thead>tr>td {
  position: relative;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  text-align: start;
  background: #F9FBFC;
  border-bottom: 1px solid #f0f0f0;
  transition: background 0.2s ease;
}

:where(.css-dev-only-do-not-override-1aocciv).ant-table-wrapper .ant-table-thead>tr>th,
:where(.css-dev-only-do-not-override-1aocciv).ant-table-wrapper .ant-table-tbody>tr>td {
  padding: 12px 16px;
}

.ant-table-cell {
  &::before {
    background-color: rgb(114, 114, 114) !important;
  }
}


// OTHERS \\
.badges-dept {
  margin-top: 5px;
  margin-top: 5px;
  display: flex;
  gap: 7px;
  height: 21px;

  .badge {
    width: fit-content;
    padding: 2px 7px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
  }

  .badge-edr {
    background-color: #8e44ad24;
    color: #8e44ad;
  }

  .badge-pss {
    background-color: #3498db42;
    color: #3498db;
  }

  .badge-jps {
    background-color: #27ae6045;
    color: #27ae60;
  }
}


.bx-bg--white {
  background-color: #fefefe;
  border-radius: 10px;
  padding: 20px;
}

.border-repel {
  border: 4px solid #fff;
}

.card-shadow {
  // box-shadow:0px 0px 3px 0px rgb(239, 239, 238);
  box-shadow: rgba(243, 246, 248, 0.15) 0px 8px 48px 0px, rgba(61, 72, 83, 0.06) 0px 2px 6px 0px, rgba(61, 72, 83, 0.36) 0px 0px 1px 0px;
}

.head-wrapper-title {
  margin-bottom: 20px;

  h3 {
    font-size: #929292;
  }
}



@media (max-width: 768px) {
  
}

.head-ins {
  .service-quality {
    background-color: #e67e221f;
    color: #e67e22;
    border-radius: 30px;
    border: none;
  }
}

.b--white-icon {
  filter: invert(1);
}


.badge-common {
  background-color: #27ae60;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.badge-processing {
  background-color: #f39c1229;
  color: #f39c12;
}

.badge-placed {
  background-color: #e74c3c2e;
  color: #e74c3c;
}

.badge-delivered {
  background-color: #27ae6029;
  color: #27ae60;
}
.badge-in-progress {
  background-color: #8e44ad2e;
  color: #8e44ad;
}

.single-line-nowwrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.global-form {
  .ant-input {
    &:focus {
      box-shadow: none !important;
    }
  }

  .form-button {
    background-color: #2F87EF;
    border-radius: 30px;
    border: none;
    color: #fff;
    margin-top: 20px;
  }

  .ant-tree-select,
  .ant-select-selector {
    box-shadow: none !important;
  }

  .ant-form-item-control-input {
    box-shadow: none !important;
  }

  .ant-input-number-input {
    padding: 9px 0;
  }

  .ant-select-tree-node-selected {
    background-color: #e7e7e7 !important;
  }

  .ant-form-item .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: none;
  }

  .ant-form-item .ant-form-item-label {
    padding-bottom: 2px !important;
    font-weight: 500;
    color: #96979E !important;
  }

  :where(.css-dev-only-do-not-override-1t8xugw).ant-form-item .ant-form-item-label>label {
    color: #96979E !important;
  }

  .ant-form-item {
    margin-bottom: 11px !important;
  }
}


.scroll-s {
  &::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-thumb {
    background: #1653a2;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #2582ff;
    border-radius: 20px;
  }
}