.main-wallet-ess{
    .wallet-card{
        background-color: #3498db;
        width: 100%;
        height: 147px;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .wallet-head{
            font-size: 14px;
            color: #ffffffc4;
        }
        .ammount-main{
            font-size: 28px;
            color: #fff;
            span{
                font-size: 19px;
            }
        }
    }
}