.store-riders-wrapper {
    .bx-rider {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 0 auto;
        margin-bottom: 7px;
        padding: 13px 10px;
        border-radius: 10px;
        border: 1px solid #e7e7e9;
        position: relative;

        .wrapper-str {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
gap:10px;
            .inset {
                display: flex;
                align-items: center;
                gap: 10px;

                .location-est {
                    padding: 4px 9px;
                    font-size: 11px;
                    font-weight: 600;
                    border-radius: 20px;
                    height: fit-content;
                    width: fit-content;
                    border: 1px solid #3498db;
                    border-style: dashed;
                    color: #3498db;
                }

                .tags {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-top: 8px;

                    .tags-cm {
                        padding: 4px 9px;
                        font-size: 11px;
                        font-weight: 600;
                        border-radius: 20px;
                        height: fit-content;
                        width: fit-content;
                    }

                    .view-location {
                        background-color: #27ae6021;
                        color: #27ae60;
                        cursor: pointer;
                    }

                    .dull-btn {
                        background-color: #a1a1a121;
                        color: #3e3e3e;
                        cursor: pointer;
                    }


                }



            }



            .r-nv {
                background-color: #f0f0f0;
                border-radius: 10px;
                padding: 12px;

                h3 {
                    color: #858585;
                    font-size: 13px;
                }

                h4 {
                    color: #27ae60;
                    font-size: 12px;
                }

                p {
                    color: #27ae60;
                    font-size: 12px;
                }
            }
        }

        .view-location {
            background-color: #27ae6021;
            width: 100%;
            height: 100px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #0000007a;
        }

        .select-rider{
            background-color: #27ae60;
            color: #ffffff;
            padding: 4px 20px;
            width: fit-content;
            height: fit-content;
            border: none;
            border-radius: 30px;
        }
        .waiting-confirmation{
            background-color: #f39c12;
            color: #ffffff;
            padding: 4px 20px;
            width: fit-content;
            height: fit-content;
            border: none;
            border-radius: 30px;
        }
    }
}