.product-main-wrapper {
  // background-color: aliceblue;
  // width: 100%;
  // height: 200px;
  
  
}
.main-shrt-menu-wrapper{
  .ant-popover-inner-content{
    // background-color: #27ae60;

  }
  .flex-menu-shrt{
    display: flex;
    flex-direction: column;
    gap: 5px;
    .item-menu-shrt{
     display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    transition: 0.3s;
    padding: 8px 11px;
    border-radius: 6px;
    cursor: pointer;
    &:hover{
      background-color: #afafaf29;
    }
    }
  }
}
.product-card-wrapper {
  // background-color: #f0f0f04a;
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.3s;
  // cursor: pointer;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  }
  .menu-options{
    position: absolute;
    background-color: #ffffff;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 24px;
    padding: 0;
    border-radius: 7px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
  }
  
  .product-image {
    width: 100%;
    height: 178px;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
      height: -webkit-fill-available;
    }
  }
  .roll-cage {
    padding: 10px;
    .product-title-and-discription {
      height: 46px;
      h3 {
        color: #474747;
        font-size: 15px;
        font-weight: 500;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
    .product-rating {
      .ant-rate-star {
        font-size: 14px;
        color: #fab529;
      }
    }
    .badges-dept {
      margin-top: 5px;
      margin-top: 5px;
      display: flex;
      gap: 7px;
      height: 21px;
      .badge {
        width: fit-content;
        padding: 2px 7px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 4px;
      }
      .badge-edr {
        background-color: #8e44ad24;
        color: #8e44ad;
      }
      .badge-pss {
        background-color: #3498db42;
        color: #3498db;
      }
      .badge-jps {
        background-color: #27ae6045;
        color: #27ae60;
      }
    }
    .product-price {
      margin-top: 10px;
      span {
        font-size: 15px;
        font-weight: 500;
        color: #e67e22;
      }
    }
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .product-container {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

@media (max-width: 992px) {
  .product-container {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (max-width: 768px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 400px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 7px !important;
  }
}
