.add-container-main-container {
  .head-add-products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 39px;

    h2 {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .product-nodes-copied-container {
    margin-bottom: 20px;
  }

  .form-product-upload {
    .grouped-inputs {
      width: 100%;
      margin-bottom: 8px;

      .title-grouped {
        font-size: 19px;
        font-weight: 600;
      }

      .grouped-inner {
        border: 1px solid #e7e7e9;
        padding: 21px;
        border-radius: 10px;
        margin-top: 8px;

        .add-color-button {
          background-color: #ececec;
          padding: 0px 14px;
          height: 28px;
          font-size: 12px;
          border: none;
          transition: 0.3s;

          &:hover {
            background-color: #2f87ef;
            color: #fff;
          }
        }

        .color-selector {
          // background-color: #14457d;
          border: none;
        }

        .wrapper-show-color {
          background-color: #2f87ef;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          position: relative;
          overflow: hidden;

          .button-cancel-color {
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #ffffffba;
            padding: 0;
            width: 30px;
            height: 30px;
            transition: 0.3s;
          }
          &:hover {
            .button-cancel-color {
              opacity: 1;
            }
          }
        }
      }

      .del-ex {
        border: 1px dashed #2f87ef;
      }
    }

    .ant-input {
      &:focus {
        box-shadow: none !important;
      }
    }

    .ant-tree-select,
    .ant-select-selector {
      box-shadow: none !important;
    }

    .ant-form-item-control-input {
      box-shadow: none !important;
    }
    .ant-input-number-input {
      padding: 9px 0;
    }

    .ant-select-tree-node-selected {
      background-color: #e7e7e7 !important;
    }

    .ant-form-item
      .ant-form-item-label
      > label.ant-form-item-required:not(
        .ant-form-item-required-mark-optional
      )::before {
      display: none;
    }

    .ant-form-item .ant-form-item-label {
      padding-bottom: 2px !important;
      font-weight: 500;
      color: #96979e !important;
    }

    :where(.css-dev-only-do-not-override-1t8xugw).ant-form-item
      .ant-form-item-label
      > label {
      color: #96979e !important;
    }

    .ant-form-item {
      margin-bottom: 11px !important;
    }

    .upload-product-button {
      background-color: #2f87ef;
      border-radius: 30px;
      border: none;
      color: #fff;
      margin-top: 20px;
    }
  }

  .wrapper-product-multiple-upload {
    .upload-images {
      background-color: #fbfbfb;
      width: 100px;
      height: 100px;
      border: 1.6px dashed #14457d;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;

      span {
        color: #14457d;
      }
    }

    .image-preview-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
    }

    .image-preview {
      position: relative;
      margin-right: 10px;
      margin-bottom: 10px;
      width: 100px;
      height: 100px;
      overflow: hidden;
      border-radius: 10px;

      .prev-image {
        width: -webkit-fill-available;
        height: -webkit-fill-available;
      }
    }

    .delete-icon {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 5px;
      right: 5px;
      cursor: pointer;
      background-color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.select-sizes-wrapper {
  .ant-select-item-option-selected {
    background-color: rgb(238, 238, 238) !important;
  }
}

.search-product-template {
  margin-bottom: 30px;
  .info-text {
    background-color: #3498db;
    padding: 20px;
    color: #3498db;
  }
  .searched-product-inner {
    max-height: 400px;
    overflow: scroll;
    .no-founds {
      display: flex;
      background-color: #f0f0f0;
      padding: 20px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 18px;
      gap: 10px;
      h2 {
        font-size: 16px;
      }
      p {
        font-style: 14px;
      }
    }
    &::-webkit-scrollbar {
      width: 10px;
      height: 0px;
    }

    &::-webkit-scrollbar-track {
      background-color: #e7e7e7;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #c4c4c4;
      border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #777777;
    }
  }
  .product-selectList-bx {
    display: flex;
    gap: 20px;
    transition: 0.3s;
    margin-bottom: 15px;
    cursor: pointer;
    &:hover {
      margin-left: 5px;
    }
    .product-image {
      background-color: #ebebeb;
      width: 90px;
      height: 90px;
      overflow: hidden;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        // height: -webkit-fill-available;
      }
    }
  }
}
